html,
body {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

.el-header,
.el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
}

.aside {
    height: 600px;
    width: 300px;
}

.top {
    height: 100px;
    background-color: #B3C0D1;
}

.pagination {
    margin-left: 40%;
}

.upload_style {
    height: 400px;
}